# VSCode
/.vscode/

# Jetbrains IDEs
/.idea/

# npm
/node_modules/

# Svelte
/.svelte-kit/
/build/
/package/

# Vite
/vite.config.js.timestamp-*
/vite.config.ts.timestamp-*

# OS Files
.DS_Store
Thumbs.db
